*~
*.project
*.cproject
*.metadata
*.settings
*.orig
*.vscode
save-commands.json
Debug/
Release/
lib/
logs/
bin/
out/
doc/html
doc/latex
.bdep/
.build2/local/
*.d
*.t
*.i
*.i.*
*.ii
*.ii.*
*.o
*.obj
*.gcm
*.pcm
*.ifc
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
