custom_termination_criterion
gauss_newton_armijo_backtracking
gauss_newton_dogleg_method
gauss_newton_wolfe_backtracking
gradient_descent_barzilai_borwein
levenberg_marquardt
provide_explicit_jacobian
pointcloud_registration